@use 'variables' as vars;

* {
  -webkit-user-drag: none;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
	will-change: all;

	&.use-all-transition {
		.MuiPaper-root,
		.MuiTable-root {
			transition: all .35s vars.$bezier-butter;
		}

		transition: all .25s vars.$bezier-butter;
	}
}

.MuiChip-colorPrimary {
	background-color: vars.$turquoise-blue !important;
}